<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
      [errorMessage]="errorMessage$ | async"
      [products]="products$ | async"
      [showProductCode]="displayCode$ | async"
      [selectedProductId]="selectedProductId$ | async"
      (checkChanged)="onShowProductCodeChanged()"
      (productSelected)="onProductSelected($event)"
      (initNewProduct)="onInitNewProduct()"
    >
    </pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit></pm-product-edit>
  </div>
</div>